fastapi
uvicorn
PyJWT
starlette
pydantic
pydantic-settings
psycopg[binary]
SQLAlchemy
asyncpg
pymysql
aiosmtplib
boto3
aiobotocore
botocore
aiogram
httpx
requests
sentence-transformers
python-dotenv
redis